coverage
build
src
node_modules

.rpt2_cache
yarn-error.log
.yarn
yarn.lock
.yarnrc.yml

tests
web-tests
node-test.ts

.jscsrc
.jshintrc
.eslintrc.js
tslint.json

tsfmt.json
.prettierrc.json

tsconfig.json
tsup.config.ts
vite.config.ts
