#buttplugdevtoolslogpanel {
    display:flex;
    flex-direction:column;
    width:100%;
    height:100%;
    align-items:center
}
#buttplugdevtoolslogpanel #buttplugdevtoolslogtextarea {
    font-size: 8pt;
    width:100%;
    flex:1 1;
    padding:5px;
    box-sizing:border-box
}
#buttplugdevtoolslogpanel #buttplugdevtoolsloglevel {
    width:98%;
    flex:none;
    padding:5px;
    box-sizing:border-box
}
