main {
    width:100%;
    height: 100%;
}

section {
    display: none;
    padding: 20px;
    border-top: 1px solid #ddd;
}

input {
    display: none;
}

label {
    display: inline-block;
    margin: 0 0 -1px;
    padding: 5px 10px;
    font-weight: 600;
    text-align: center;
    color: #bbb;
    border: 1px solid transparent;
}

label:before {
    font-family: fontawesome;
    font-weight: normal;
    margin-right: 10px;
}

label:hover {
    color: #888;
    cursor: pointer;
}

input:checked + label {
    color: #555;
    border: 1px solid #ddd;
    border-top: 2px solid orange;
    border-bottom: 1px solid #fff;
}

#tab1:checked ~ #content1,
#tab2:checked ~ #content2,
#tab3:checked ~ #content3,
#tab4:checked ~ #content4 {
    display: block;
}

#content1 {
    height: 100%;
}

#content2 {
    height: 100%;
}

#simulator {
    display: flex;
    width: 100%;
    height: calc(100% - 60px);
    flex-direction: row;
}

.fleshlight-sim {
    flex: 1;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
}

div.c-fleshlight {
    display: flex;
    flex: 1;
}

div.c-fleshlight img {
    height: 100%;
    width: auto;
	  image-rendering: -moz-crisp-edges;
	  image-rendering: -o-crisp-edges;
	  image-rendering: -webkit-optimize-contrast;
	  image-rendering: pixelated;
}

div.c-fleshlight .o-fleshlight {
    position: relative;
    height: 77%;
}

.vibrator-simulator-component {
    flex: 1;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
}

div.vibrator {
    flex: 1 1;
    align-items: center;
}

div.vibrator-simulator-component img {
    height: calc(100% - 40px);
    width: auto;
    position: relative;
    image-rendering: -moz-crisp-edges;
	  image-rendering: -o-crisp-edges;
	  image-rendering: -webkit-optimize-contrast;
	  image-rendering: pixelated;
}

div.vibrator-info {
    flex: 0;
}

.simulator-divider {
    border-left: 1px #000 dashed;
    height: 100%;
}
