main {
    width:100%;
    height: 100%;
}

section {
    display: none;
    padding: 20px;
    border-top: 1px solid #ddd;
}

input {
    display: none;
}

label {
    display: inline-block;
    margin: 0 0 -1px;
    padding: 5px 10px;
    font-weight: 600;
    text-align: center;
    color: #bbb;
    border: 1px solid transparent;
}

label:before {
    font-family: fontawesome;
    font-weight: normal;
    margin-right: 10px;
}

label:hover {
    color: #888;
    cursor: pointer;
}

input:checked + label {
    color: #555;
    border: 1px solid #ddd;
    border-top: 2px solid orange;
    border-bottom: 1px solid #fff;
}

#tab1:checked ~ #content1,
#tab2:checked ~ #content2,
#tab3:checked ~ #content3,
#tab4:checked ~ #content4 {
    display: block;
}

#content2 {
    height: 100%;
}
